{% extends 'base.html.twig' %}

{% block title %}Портфолио{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/style.css') }}">
{% endblock %}

{% block main %}
    <main class="main">
        <section class="section-head" id="home">
            <div class="section-head__inner">
                <div class="container i-font_face_roboto">
                    <div class="section-head__row">
                        <div class="section-head__content">
                            <h1 class="section-head__title">HALIFAX WORDPRESS &
                                WEB APP DEVELOPMENT</h1>
                            <p class="section-head__description">Specializing in custom theme development. If you're a business seeking a web presence or are looking to hire, contact me here.</p>
                        </div>
                        <div class="section-head__cover">
                            <img class="section-head__image" src="{{ asset('img/section-head.svg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-portfolio" id="portfolio">
            <div class="section-portfolio__inner">
                <div class="container i-font_face_roboto">
                    <h2 class="title section-portfolio__title">PORTFOLIO</h2>
                    <div class="section-portfolio__items">
                        <div class="portfolio-items">
                            <div class="portfolio-items__item">
                                <div class="portfolio-items__item-caption">
                                    <h3 class="portfolio-items__item-title">Project</h3>
                                    <a class="portfolio-items__item-link" href="#">View project</a>
                                </div>
                                <div class="portfolio-items__item-cover">
                                    <img class="portfolio-items__item-image" src="{{ asset('img/test.jpg') }}" alt="cover">
                                </div>
                            </div>
                            <div class="portfolio-items__item">
                                <div class="portfolio-items__item-caption">
                                    <h3 class="portfolio-items__item-title">Project</h3>
                                    <a class="portfolio-items__item-link" href="#">View project</a>
                                </div>
                                <div class="portfolio-items__item-cover">
                                    <img class="portfolio-items__item-image" src="{{ asset('img/test.jpg') }}" alt="cover">
                                </div>
                            </div>
                            <div class="portfolio-items__item">
                                <div class="portfolio-items__item-caption">
                                    <h3 class="portfolio-items__item-title">Project</h3>
                                    <a class="portfolio-items__item-link" href="#">View project</a>
                                </div>
                                <div class="portfolio-items__item-cover">
                                    <img class="portfolio-items__item-image" src="{{ asset('img/test.jpg') }}" alt="cover">
                                </div>
                            </div>
                            <div class="portfolio-items__item">
                                <div class="portfolio-items__item-caption">
                                    <h3 class="portfolio-items__item-title">Project</h3>
                                    <a class="portfolio-items__item-link" href="#">View project</a>
                                </div>
                                <div class="portfolio-items__item-cover">
                                    <img class="portfolio-items__item-image" src="{{ asset('img/test.jpg') }}" alt="cover">
                                </div>
                            </div>
                            <div class="portfolio-items__item">
                                <div class="portfolio-items__item-caption">
                                    <h3 class="portfolio-items__item-title">Project</h3>
                                    <a class="portfolio-items__item-link" href="#">View project</a>
                                </div>
                                <div class="portfolio-items__item-cover">
                                    <img class="portfolio-items__item-image" src="{{ asset('img/test.jpg') }}" alt="cover">
                                </div>
                            </div>
                            <div class="portfolio-items__item">
                                <div class="portfolio-items__item-caption">
                                    <h3 class="portfolio-items__item-title">Project</h3>
                                    <a class="portfolio-items__item-link" href="#">View project</a>
                                </div>
                                <div class="portfolio-items__item-cover">
                                    <img class="portfolio-items__item-image" src="{{ asset('img/test.jpg') }}" alt="cover">
                                </div>
                            </div>
                            <div class="portfolio-items__item">
                                <div class="portfolio-items__item-caption">
                                    <h3 class="portfolio-items__item-title">Project</h3>
                                    <a class="portfolio-items__item-link" href="#">View project</a>
                                </div>
                                <div class="portfolio-items__item-cover">
                                    <img class="portfolio-items__item-image" src="{{ asset('img/test.jpg') }}" alt="cover">
                                </div>
                            </div>
                            <div class="portfolio-items__item">
                                <div class="portfolio-items__item-caption">
                                    <h3 class="portfolio-items__item-title">Project</h3>
                                    <a class="portfolio-items__item-link" href="#">View project</a>
                                </div>
                                <div class="portfolio-items__item-cover">
                                    <img class="portfolio-items__item-image" src="{{ asset('img/test.jpg') }}" alt="cover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-portfolio__button-align">
                        <button class="section-portfolio__button">VIEW MORE PROJECT</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/script.min.js') }}"></script>
    <script>
        menu_scroll();
    </script>
{% endblock %}
